.navbar{
    
    width: 100%;
    height: 75px;
    
    padding: 0px 50px;
    position: fixed;
    top:0;
    background-image: linear-gradient(#00BFFF, #4169E1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items:center;
    z-index: 2;

}

.navbar ul{
    float: right;
    margin-right: 20px;
    display: flex; /* Aligns items horizontally */
    justify-content: flex-end; /* Aligns items to the right */
    align-items: center; /* Centers items vertically */
    list-style: none; /* Removes bullet points */
    padding-inline-start: 0;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin:0 15px;

}

nav ul  li a{
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    text-decoration:  none;
    padding: 5px 10px;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    color: #04fafa;
    font-weight: bold;

}

.logo{
    height: 60px;
    width: auto;
    margin-right: auto;
}


h1{
    text-align: center;
}

body{
    font-size: Arial,sans-serif;
    margin:0;
    padding:0;
    background-image:url('w1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.first-content{
    margin-top:100px;
}
.team{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}
.team-member{
   display: inline-block;
    margin:40px;
    text-align:center;
    position:relative;
    transition: opacity 0.3s;
   
}
.team-member img{
    border-radius: 10%;
    width:200px;
    height:250px;
    object-fit:cover;
}
.team-member:hover{
    opacity: 0.7;
   
   
}
.team-member:hover img{
    filter:brightness(70%);
}
.team-member .details{
    display:none;
    background: whitesmoke;
    padding:10px;
    position:relative;
    top:100%;
    left: 50%;
    transform: translateX(-50%);
    z-index:1;
    width:200px;
    text-align:center;
    filter:none;

}
.team-member:hover .details{
    display:block;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
    background-image: linear-gradient(#00BFFF, #4169E1);
}    

.footerContainer {
    width: 100%;
    
    padding: 10px 10px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 50% ;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;

}

.footernav{
    margin: 30px auto;
    max-width:60%;
    display: flex;
    justify-content: center;
    list-style-type: none;

}

.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;

}

.footernav ul li a{
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.5s;
}

.footernav ul li a:hover{
    opacity: 3;
    color: rgba(41, 39, 39, 0.889);
    transition: 0.5s;
}

.copywrite{
    background-color:#000 ;
    padding: 10px;
    text-align: center;

}

.copywrite p{
    color: white;
    margin: 0; 
    padding: 5px 0; 

}

.designer{

    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;

}



